<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490762789543-fd819ja9279abbm7oa9kahgaf1fo7fk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490762789543-fd819ja9279abbm7oa9kahgaf1fo7fk6</string>
	<key>API_KEY</key>
	<string>AIzaSyCVarEiTuD5O9JnKORfMVppvRifpSL8brg</string>
	<key>GCM_SENDER_ID</key>
	<string>490762789543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AndriiLandiak.Practice</string>
	<key>PROJECT_ID</key>
	<string>coursework-e6223</string>
	<key>STORAGE_BUCKET</key>
	<string>coursework-e6223.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490762789543:ios:f0e99536a903be90093182</string>
</dict>
</plist>